<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 상세</title>
    <link rel="stylesheet" href="/css/detail.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/pricehistory.js"></script>
    <style>
        img {
            max-width: 300px;
            height: auto;
        }
    </style>
</head>
<body>
<h1>상품 상세 정보</h1>
<div class="product-details">
    <!-- 좌측 콘텐츠 -->
    <div class="product-info">
        <img th:src="${product.image}" alt="상품 이미지">
        <h2 th:text="${product.title}"></h2>
        <!-- 가격 정보 -->
        <p th:if="${product.prices != null and !product.prices.isEmpty()}">
            가격: <span th:text="${product.prices[0].price}">0</span> 원
        </p>
        <p th:if="${product.prices == null or product.prices.isEmpty()}">
            가격 정보가 없습니다.
        </p>

        <!-- 판매처 정보 -->
        <p th:if="${shop != null}">
            판매처: <span th:text="${shop.shopName}">판매처 이름</span>
        </p>
        <p th:if="${shop == null}">
            판매처 정보가 없습니다.
        </p>
        <p>
            카테고리: <span th:text="${product.category1}">카테고리1</span> >
            <span th:text="${product.category2}">카테고리2</span>
        </p>
    </div>
    <!-- 우측 콘텐츠 -->
    <div class="product-analysis">
        <h2>가격 변화 추이</h2>
        <div id="priceHistoryArea" th:data-product-id="${product.id}">
            <p id="priceHistoryMessage"></p>
            <canvas id="priceHistoryChart" width="400" height="200"></canvas>
        </div>
        <p th:if="${shop != null}">
            판매처 이름: <span th:text="${shop.shopName}"></span><br>

            <span th:if="${shop.shopTrust == null}">
            <span th:if="${shop.shopName == '이베이'}">
                신뢰도: 이베이 서비스 별도의 판매자 신뢰도가 존재합니다.
            </span>
            <span th:if="${shop.shopName != '이베이'}">
                신뢰도: 해당 판매처의 신뢰도를 측정하지 못했습니다.
            </span>
        </span>
            <span th:if="${shop.shopTrust != null}">
           <div class="trust-info">
                <span>신뢰도: </span>
                <span th:text="${shop.shopTrust}" class="trust-value"></span>
                <div class="tooltip">
                     <span class="tooltip-icon">!</span>
                     <span class="tooltip-text">
                        신뢰도는 NPS 지수를 뜻하는 것으로, 고객의 기업 충성도를 의미합니다.
                        -100 ~ +100의 범위를 가지고 있으며, 높을수록 신뢰도가 높음을 뜻합니다.
                    </span>
                </div>
            </div>
        </span>
            <br>
        <ul style="list-style: none; padding: 0;">
            <li th:each="similarProduct : ${similarProducts}" style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px; padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
                <!-- 쇼핑몰 정보 -->
                <span style="flex: 1; text-align: left;">
            <strong>쇼핑몰:</strong> <span th:text="${similarProduct.mallName}"></span>
        </span>
                <!-- 가격 정보 -->
                <span style="flex: 1; text-align: center;">
            <strong>가격:</strong> <span th:text="${similarProduct.lprice}"></span> 원
        </span>
                <!-- 버튼 -->
                <span style="flex: 1; text-align: right;">
            <a th:href="${similarProduct.link}" target="_blank">
                <strong>해당 상품 보러 가기</strong>
            </a>
        </span>
            </li>
        </ul>
        </p>
        <p th:if="${shop == null}">판매처 정보가 없습니다.</p>
    </div>
</div>
<a href="/main" class="fixed-button">목록으로 돌아가기</a>
</body>
</html>
