<!-- mypage.html -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Page</title>
</head>
<body>
<h2>마이페이지</h2>

<!-- 로그인한 유저 정보 표시 -->
<p th:if="${loggedInUser != null}">이름: <span th:text="${loggedInUser.username}"></span></p>
<p th:if="${loggedInUser != null}">이메일: <span th:text="${loggedInUser.email}"></span></p>

<!-- 로그인 유저가 null일 경우 -->
<p th:if="${loggedInUser == null}">로그인유저 Null</p>

<!-- 위시리스트로 이동하는 버튼 -->
<a href="/users/wishlist"><button>위시리스트 보기</button></a>

<!-- 비밀번호 변경 버튼 -->
<a href="/users/change-password"><button>비밀번호 변경</button></a>
<form th:action="@{/users/delete-account}" method="post">
    <button type="submit">회원 탈퇴</button>
</form>
</body>
</html>