<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wishlist</title>
</head>
<body>
<h2>위시리스트</h2>

<table>
    <thead>
    <tr>
        <th>상품 이름</th>
        <th>가격</th>
        <th>작업</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${wishlist}">
        <td th:text="${item.product.title}"></td>
        <td th:text="${item.product.lprice}"></td>
        <td>
            <form th:action="@{/users/wishlist/remove}" method="post">
                <input type="hidden" name="productId" th:value="${item.product.id}">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a href="/users/mypage"><button>마이페이지로 돌아가기</button></a>
<a href="/main"><button>메인 페이지로 돌아가기</button></a>
</body>
</html>
